Repository Resconet/RescoSolutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Resconet/dynamics, @Resconet/field-service, @Resconet/sales, @Resconet/salesforce

APL-398 JSBridge GeoFencing
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-398 JSBridge GeoFencing (#396)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-419 Strict JSBridge fetch params construction
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-419 Strict JSBridge fetch params construction (#397)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

Merge branch 'release/17.1'Merge branch 'release/17.1'
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-486 Serialize Entity.allattributes flags and document it (#398)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

added resco_questionnaireanswer entity to default inspections project
  projects/Inspections - Inspector/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Inspector/Images.zip.modifiedon
  projects/Inspections - Inspector/ServerConfig.generated.bin
  projects/Inspections - Inspector/resco.xcrm
  projects/Inspections - Inspector/www.zip.modifiedon
Owners: @Resconet/field-service

resco_questionnaireanswer enabled
  projects/Inspections - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Manager/Images.zip.modifiedon
  projects/Inspections - Manager/ServerConfig.generated.bin
  projects/Inspections - Manager/projectproperties.json
  projects/Inspections - Manager/resco.xcrm
  projects/Inspections - Manager/www.zip.modifiedon
Owners: @Resconet/field-service

enable resco_questionnaireanswer
  projects/Inspector/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspector/Images.zip.modifiedon
  projects/Inspector/ServerConfig.generated.bin
  projects/Inspector/projectproperties.json
  projects/Inspector/resco.xcrm
  projects/Inspector/www.zip.modifiedon
Owners: @Resconet/dynamics

enable resco_questionnaireanswer
  projects/Field Service - Field Worker/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Field Service - Field Worker/Images.zip.modifiedon
  projects/Field Service - Field Worker/ServerConfig.generated.bin
  projects/Field Service - Field Worker/projectproperties.json
  projects/Field Service - Field Worker/resco.xcrm
  projects/Field Service - Field Worker/www.zip.modifiedon
Owners: @Resconet/field-service

enabled resco_questionnaireanswer
  projects/Field Service - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Field Service - Manager/Images.zip.modifiedon
  projects/Field Service - Manager/ServerConfig.generated.bin
  projects/Field Service - Manager/projectproperties.json
  projects/Field Service - Manager/resco.xcrm
  projects/Field Service - Manager/www.zip.modifiedon
Owners: @Resconet/field-service

Default projects updated to contain resco_questionnaireanswer entity (#399)
  projects/Field Service - Field Worker/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Field Service - Field Worker/Images.zip.modifiedon
  projects/Field Service - Field Worker/ServerConfig.generated.bin
  projects/Field Service - Field Worker/projectproperties.json
  projects/Field Service - Field Worker/resco.xcrm
  projects/Field Service - Field Worker/www.zip.modifiedon
  projects/Field Service - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Field Service - Manager/Images.zip.modifiedon
  projects/Field Service - Manager/ServerConfig.generated.bin
  projects/Field Service - Manager/projectproperties.json
  projects/Field Service - Manager/resco.xcrm
  projects/Field Service - Manager/www.zip.modifiedon
  projects/Inspections - Inspector/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Inspector/Images.zip.modifiedon
  projects/Inspections - Inspector/ServerConfig.generated.bin
  projects/Inspections - Inspector/resco.xcrm
  projects/Inspections - Inspector/www.zip.modifiedon
  projects/Inspections - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Manager/Images.zip.modifiedon
  projects/Inspections - Manager/ServerConfig.generated.bin
  projects/Inspections - Manager/projectproperties.json
  projects/Inspections - Manager/resco.xcrm
  projects/Inspections - Manager/www.zip.modifiedon
  projects/Inspector/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspector/Images.zip.modifiedon
  projects/Inspector/ServerConfig.generated.bin
  projects/Inspector/projectproperties.json
  projects/Inspector/resco.xcrm
  projects/Inspector/www.zip.modifiedon
Owners: @Resconet/field-service, @Resconet/dynamics

ART-425 the default questionnaire answer view updated
  projects/Field Service - Field Worker/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Inspector/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspector/Controllers/resco_questionnaireanswer.Default.listxml
Owners: @Resconet/field-service, @Resconet/dynamics

ART-425 the default questionnaire answer view updated (#400)
  projects/Field Service - Field Worker/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Inspector/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspector/Controllers/resco_questionnaireanswer.Default.listxml
Owners: @Resconet/field-service, @Resconet/dynamics

APL-549 Serialize fetch condition entityname
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-549 Serialize fetch condition entityname (#401)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-624 JSBridge FetchXml object serialization
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-624 JSBridge FetchXml object serialization (#402)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-345 Add global constants definition to JSBridge.
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-345 Add global constants definition to JSBridge. (#403)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-345 Update JSBridge according WebApp parameters serialization. undefined...
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-345 Update JSBridge according WebApp parameters serialization. undefined... (#404)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

HRM-41 JSBridge: Ui transactions support for JSBridge
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

HRM-41 JSBridge: Ui transactions support for JSBridge (#405)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-869 Serialize linktype when constructing fetch params
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-869 Serialize linktype when constructing fetch params (#406)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

ART-670 Zebra: Add standard JSBridge interface for Zebra scanner integration
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

ART-670 Zebra: Add standard JSBridge interface for Zebra scanner integration (#407)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-920 Fix page value processing in Fetch
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-920 Fix page value processing in Fetch (#408)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

ART-671 Zebra: New features for Zebra ingegrations
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

ART-671 Zebra: New features for Zebra ingegrations (#409)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1019 Stringify fetch params before calling fetchToXml
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1019 Stringify fetch params before calling fetchToXml (#410)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-837 Improve API for creation of Mobile Report via JSBridge
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-837 Improve API for creation of Mobile Report via JSBridge (#411)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-754 Deprecate setDataSource JSBridge method
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-754 Deprecate setDataSource JSBridge method (#412)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-631 AllowCreateNew for updateLinkItemViews in JSBridge.
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-631 AllowCreateNew for updateLinkItemViews in JSBridge. (#413)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

.github/CODEOWNERS:

/projects/Inspector/ @Resconet/dynamics
/projects/Mobile\ Sales/ @Resconet/dynamics
/projects/Mobile\ Sales/www/JSBridge.js
/projects/Field\ Service\ -\ Field\ Worker/ @Resconet/field-service
/projects/Field\ Service\ -\ Field\ Worker/www/JSBridge.js
/projects/Field\ Service\ -\ Manager/ @Resconet/field-service
/projects/Field\ Service\ -\ Manager/www/JSBridge.js
/projects/Field\ Service\ -\ Manager/www/ManagerHome/scripts/JSBridge.js
/projects/Inspections\ -\ Inspector/ @Resconet/field-service
/projects/Inspections\ -\ Manager/ @Resconet/field-service
/projects/Inspections\ -\ Manager/www/JSBridge.js
/projects/Portal\ -\ Contractor/ @Resconet/field-service
/projects/Portal\ -\ Contractor/www/JSBridge.js
/projects/Portal\ -\ Contractor/www/overview/JSBridge.js
/projects/Portal\ -\ Dark/ @Resconet/field-service
/projects/Portal\ -\ Dark/www/JSBridge.js
/projects/Portal\ -\ Dark/www/overview/JSBridge.js
/projects/Portal\ -\ Light/ @Resconet/field-service
/projects/Portal\ -\ Light/www/JSBridge.js
/projects/Portal\ -\ Light/www/overview/JSBridge.js
/projects/Sales/ @Resconet/sales
/projects/Sales/www/JSBridge.js
/projects/Default\ (Mobile\ Sales\ scenario)/ @Resconet/salesforce
/projects/Default\ (Mobile\ Sales\ scenario)/www/JSBridge.js
/projects/Inspections\ (requires\ Resco\ custom\ objects)/ @Resconet/salesforce
/projects/Field\ Service\ (requires\ Field\ Service\ Lightning\ objects)/ @Resconet/salesforce
/projects/Field\ Service\ (requires\ Field\ Service\ Lightning\ objects)/www/JSBridge.js
