Repository Resconet/RescoSolutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Resconet/dynamics, @Resconet/field-service, @Resconet/sales, @Resconet/salesforce

ART-1143 NQP: Support serialization of createdBy and createdById (#432)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Sales/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1238 UWP hidden iFrames config
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Sales/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1238 UWP hidden iFrames config (#433)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Sales/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1854 JSBridge: Add QuestionnaireForm.repeatGroupAsync method
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Sales/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1854 JSBridge: Add QuestionnaireForm.repeatGroupAsync method (#434)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Sales/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

Changes to Field Service project: (#435)
  projects/Field Service (requires Field Service Lightning objects)/AboutInfo.txt
  projects/Field Service (requires Field Service Lightning objects)/Configuration/SyncFilter.xml
  projects/Field Service (requires Field Service Lightning objects)/Configuration/gui.en-US.lang
  projects/Field Service (requires Field Service Lightning objects)/Controllers/Styles.rstyle
  projects/Field Service (requires Field Service Lightning objects)/Controllers/resco_questionnaire.Published Templates.listxml
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_account.Default.form
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_asset.form
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_attachment.Reports.listxml
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_contact.Default.form
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_productconsumed.form
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_productitem.My Van Current.listxml
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_serviceappointment.Default_old.form
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_serviceappointment.form
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_timesheet.All Time Sheets.listxml
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_timesheet.My Time Sheets.listxml
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_timesheetentry.form
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_workorder.Default.form
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_workorderlineitem.All Line Items.listxml
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_workorderlineitem.Default.form
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_workorderlineitem.WO line items.listxml
  projects/Field Service (requires Field Service Lightning objects)/Controllers/sf_workorderlineitem.Work Order Line Items.listxml
  projects/Field Service (requires Field Service Lightning objects)/HomeForm.txt
  projects/Field Service (requires Field Service Lightning objects)/Images.zip.modifiedon
  projects/Field Service (requires Field Service Lightning objects)/ServerConfig.generated.bin
  projects/Field Service (requires Field Service Lightning objects)/projectproperties.json
  projects/Field Service (requires Field Service Lightning objects)/resco.xcrm
  projects/Field Service (requires Field Service Lightning objects)/www.zip.modifiedon
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/Logo/rescologo.jpeg
  projects/Field Service (requires Field Service Lightning objects)/www/Logo/rescologo.png
Owners: @Resconet/salesforce

Revert JSBridge changes
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
Owners: none

APL-1815 Field Sales: update "#" color values for color "tokens" in Default/Demo projects
  projects/Field Sales/Controllers/Styles.rstyle
  projects/Field Sales/Controllers/appointment.form
  projects/Field Sales/Controllers/product.Products Grid.listxml
  projects/Field Sales/Controllers/product.Products.listxml
  projects/Field Sales/Controllers/quote.Default.listxml
  projects/Field Sales/Images.zip.modifiedon
  projects/Field Sales/Images/MobileCrm/Images.MonoTouch/View/building@2x.png
  projects/Field Sales/Images/MobileCrm/Images.MonoTouch/View/contact@2x.png
  projects/Field Sales/Images/MobileCrm/Images.MonoTouch/View/filter@2x.png
  projects/Field Sales/www.zip.modifiedon
Owners: none

APL-1815 Inspector: update "#" color values for color "tokens" in Default/Demo projects
  projects/Inspector/Controllers/Styles.rstyle
  projects/Inspector/Controllers/annotation.Default.listxml
  projects/Inspector/Controllers/resco_questionnaire.Answered Questionnaires.listxml
  projects/Inspector/Images.zip.modifiedon
  projects/Inspector/ServerConfig.generated.bin
  projects/Inspector/www.zip.modifiedon
Owners: @Resconet/dynamics

.github/CODEOWNERS:

/projects/Inspector/ @Resconet/dynamics
/projects/Mobile\ Sales/ @Resconet/dynamics
/projects/Mobile\ Sales/www/JSBridge.js
/projects/Field\ Service\ -\ Field\ Worker/ @Resconet/field-service
/projects/Field\ Service\ -\ Field\ Worker/www/JSBridge.js
/projects/Field\ Service\ -\ Manager/ @Resconet/field-service
/projects/Field\ Service\ -\ Manager/www/JSBridge.js
/projects/Field\ Service\ -\ Manager/www/ManagerHome/scripts/JSBridge.js
/projects/Inspections\ -\ Inspector/ @Resconet/field-service
/projects/Inspections\ -\ Manager/ @Resconet/field-service
/projects/Inspections\ -\ Manager/www/JSBridge.js
/projects/Sales/ @Resconet/sales
/projects/Sales/www/JSBridge.js
/projects/Default\ (Mobile\ Sales\ scenario)/ @Resconet/salesforce
/projects/Default\ (Mobile\ Sales\ scenario)/www/JSBridge.js
/projects/Inspections\ (requires\ Resco\ custom\ objects)/ @Resconet/salesforce
/projects/Field\ Service\ (requires\ Field\ Service\ Lightning\ objects)/ @Resconet/salesforce
/projects/Field\ Service\ (requires\ Field\ Service\ Lightning\ objects)/www/JSBridge.js
