Repository Resconet/RescoSolutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Resconet/dynamics, @Resconet/field-service, @Resconet/sales, @Resconet/salesforce

Add mobile projects deployment
  deploy.yml
Owners: none

Add dynamics solutions build
  dynamics.yml
Owners: none

APL-1291 JSBridge: Fixed ReportFormat comment
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

Add mobile projects deployment
  deploy.yml
Owners: none

Add dynamics solutions build
  dynamics.yml
Owners: none

APL-1291 JSBridge: Fixed ReportFormat comment (#420)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Portal - Contractor/www/JSBridge.js
  projects/Portal - Contractor/www/overview/JSBridge.js
  projects/Portal - Dark/www/JSBridge.js
  projects/Portal - Dark/www/overview/JSBridge.js
  projects/Portal - Light/www/JSBridge.js
  projects/Portal - Light/www/overview/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

Disable PR build
  deploy.yml
  dynamics.yml
Owners: none

ART-1340 Add optional parameters to showForm
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

ART-1340 Add optional parameters to showForm (#421)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

ART-1466 Remove incorrect value in project version field
  projects/Field Service - Field Worker/projectproperties.json
  projects/Field Service - Manager/projectproperties.json
  projects/Inspections - Manager/projectproperties.json
Owners: @Resconet/field-service

ART-1466 Remove incorrect value in project version field (#422)
  projects/Field Service - Field Worker/projectproperties.json
  projects/Field Service - Manager/projectproperties.json
  projects/Inspections - Manager/projectproperties.json
Owners: @Resconet/field-service

APL-1414 Implement JSBridge method filterStringListOptions
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1414 Implement JSBridge method filterStringListOptions (#423)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1500 Add watchLocationUpdates method to JSBridge
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1500 Add watchLocationUpdates method to JSBridge (#424)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1582 JSBRIDGE: Fix tryEnterUiTransaction and leaveUiTransaction
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1582 JSBRIDGE: Fix tryEnterUiTransaction and leaveUiTransaction (#425)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

Add pcf-questionnaire to dynamics solution
  dynamics.yml
Owners: none

Use pcf-questionnaire artifact from dynamics apps
  dynamics.yml
Owners: none

APL-1656 Semi-automated JSBridge Reference generator
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1656 Semi-automated JSBridge Reference generator (#426)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1648 Support file fields in JSBridge
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

APL-1648 Support file fields in JSBridge (#427)
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Mobile Sales/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

Delete the file at 'projects/Mobile Sales/Controllers/product.Products in Parent PriceList.listxml'
  projects/Mobile Sales/Controllers/product.Products in Parent PriceList.listxml
Owners: @Resconet/dynamics

Delete the file at 'projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/fliplist@2x.png'
  projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/fliplist@2x.png
Owners: @Resconet/dynamics

Delete the file at 'projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/flipmap@2x.png'
  projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/flipmap@2x.png
Owners: @Resconet/dynamics

Delete the file at 'projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/help@2x.png'
  projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/help@2x.png
Owners: @Resconet/dynamics

Delete the file at 'projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/info@2x.png'
  projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/info@2x.png
Owners: @Resconet/dynamics

Delete the file at 'projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/login@2x.png'
  projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/login@2x.png
Owners: @Resconet/dynamics

Delete the file at 'projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/sync@2x.png'
  projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Cmd/sync@2x.png
Owners: @Resconet/dynamics

Delete the file at 'projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Home/appointment@2x.png'
  projects/Mobile Sales/Images/MobileCrm/Images.MonoTouch/Home/appointment@2x.png
Owners: @Resconet/dynamics

AB#QH-15 Updated JSBridge for Mobile Sales project to v 18.0
  projects/Mobile Sales/www.zip.modifiedon
  projects/Mobile Sales/www/JSBridge.js
Owners: @Resconet/dynamics

AB#QH-15 Updated JSBridge for Mobile Sales project to v 18.0 (#429)
  projects/Mobile Sales/www.zip.modifiedon
  projects/Mobile Sales/www/JSBridge.js
Owners: @Resconet/dynamics

ART-1250 Inspector: NQP: Update default mobile projects so the featureversion is in view and NQP can be detected in mcrm
  projects/Inspector/Controllers/resco_questionnaire.Answered Questionnaires.listxml
  projects/Inspector/Controllers/resco_questionnaire.Associated Questionnaires.listxml
  projects/Inspector/Controllers/resco_questionnaire.Completed This Week.listxml
  projects/Inspector/Controllers/resco_questionnaire.In progress or completed.listxml
  projects/Inspector/Controllers/resco_questionnaire.Questionnaire Templates Lookup.listxml
  projects/Inspector/Controllers/resco_questionnaire.Reuse.listxml
  projects/Inspector/Controllers/resco_questionnaire.Templates.listxml
  projects/Inspector/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspector/Images.zip.modifiedon
  projects/Inspector/www.zip.modifiedon
Owners: @Resconet/dynamics

ART-1250 Field Service - Manager: NQP: Update default mobile projects so the featureversion is in view and NQP can be detected in mcrm
  projects/Field Service - Manager/Controllers/resco_questionnaire.Answered Questionnaires.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaire.Answers.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaire.Associated Questionnaires.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaire.Completed This Week.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaire.In Progress-Completed Jobs Today.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaire.In progress or completed.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaire.Questionnaire Templates Lookup.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaire.Reuse.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaire.Started-Completed Jobs Today.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaire.Templates.listxml
  projects/Field Service - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Field Service - Manager/Images.zip.modifiedon
  projects/Field Service - Manager/www.zip.modifiedon
Owners: @Resconet/field-service

ART-1250 Field Service - Field Worker: NQP: Update default mobile projects so the featureversion is in view and NQP can be detected in mcrm
  projects/Field Service - Field Worker/Controllers/resco_questionnaire.Answered Questionnaires.listxml
  projects/Field Service - Field Worker/Controllers/resco_questionnaire.Answers.listxml
  projects/Field Service - Field Worker/Controllers/resco_questionnaire.Associated Questionnaires.listxml
  projects/Field Service - Field Worker/Controllers/resco_questionnaire.Completed This Week.listxml
  projects/Field Service - Field Worker/Controllers/resco_questionnaire.In progress or completed.listxml
  projects/Field Service - Field Worker/Controllers/resco_questionnaire.Questionnaire Templates Lookup.listxml
  projects/Field Service - Field Worker/Controllers/resco_questionnaire.Reuse.listxml
  projects/Field Service - Field Worker/Controllers/resco_questionnaire.Templates.listxml
  projects/Field Service - Field Worker/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Field Service - Field Worker/Images.zip.modifiedon
  projects/Field Service - Field Worker/www.zip.modifiedon
Owners: @Resconet/field-service

ART-1250 Inspections - Inspector: NQP: Update default mobile projects so the featureversion is in view and NQP can be detected in mcrm
  projects/Inspections - Inspector/Controllers/resco_questionnaire.Answered Questionnaires.listxml
  projects/Inspections - Inspector/Controllers/resco_questionnaire.Associated Questionnaires.listxml
  projects/Inspections - Inspector/Controllers/resco_questionnaire.Completed This Week.listxml
  projects/Inspections - Inspector/Controllers/resco_questionnaire.In progress or completed.listxml
  projects/Inspections - Inspector/Controllers/resco_questionnaire.Questionnaire Templates Lookup.listxml
  projects/Inspections - Inspector/Controllers/resco_questionnaire.Reuse.listxml
  projects/Inspections - Inspector/Controllers/resco_questionnaire.Templates.listxml
  projects/Inspections - Inspector/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Inspector/Images.zip.modifiedon
  projects/Inspections - Inspector/www.zip.modifiedon
Owners: @Resconet/field-service

ART-1250 Inspections - Manager: NQP: Update default mobile projects so the featureversion is in view and NQP can be detected in mcrm
  projects/Inspections - Manager/Controllers/resco_questionnaire.Answered Questionnaires.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaire.Answers.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaire.Associated Questionnaires.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaire.Completed This Week.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaire.In Progress-Completed Jobs Today.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaire.In progress or completed.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaire.Questionnaire Templates Lookup.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaire.Reuse.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaire.Started-Completed Jobs Today.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaire.Templates.listxml
  projects/Inspections - Manager/Controllers/resco_questionnaireanswer.Default.listxml
  projects/Inspections - Manager/Images.zip.modifiedon
  projects/Inspections - Manager/www.zip.modifiedon
Owners: @Resconet/field-service

Restore JSBridge for Field Sales project
  projects/Field Sales/www/JSBridge.js
Owners: none

ART-1143 NQP: Support serialization of createdBy and createdById
  projects/City - Citizen/www/JSBridge.js
  projects/City - Operator/www/JSBridge.js
  projects/Default (Mobile Sales scenario)/www/JSBridge.js
  projects/External Customer/www/JSBridge.js
  projects/Field Sales/www/JSBridge.js
  projects/Field Service (requires Field Service Lightning objects)/www/JSBridge.js
  projects/Field Service - Field Worker/www/JSBridge.js
  projects/Field Service - Manager/www/JSBridge.js
  projects/Field Service - Manager/www/ManagerHome/scripts/JSBridge.js
  projects/Inspections - Manager/www/JSBridge.js
  projects/Routes - Default/www/JSBridge.js
  projects/Routes - Default/www/Process/scripts/JSBridge.js
  projects/Sales/www/JSBridge.js
Owners: none

.github/CODEOWNERS:

/projects/Inspector/ @Resconet/dynamics
/projects/Mobile\ Sales/ @Resconet/dynamics
/projects/Mobile\ Sales/www/JSBridge.js
/projects/Field\ Service\ -\ Field\ Worker/ @Resconet/field-service
/projects/Field\ Service\ -\ Field\ Worker/www/JSBridge.js
/projects/Field\ Service\ -\ Manager/ @Resconet/field-service
/projects/Field\ Service\ -\ Manager/www/JSBridge.js
/projects/Field\ Service\ -\ Manager/www/ManagerHome/scripts/JSBridge.js
/projects/Inspections\ -\ Inspector/ @Resconet/field-service
/projects/Inspections\ -\ Manager/ @Resconet/field-service
/projects/Inspections\ -\ Manager/www/JSBridge.js
/projects/Sales/ @Resconet/sales
/projects/Sales/www/JSBridge.js
/projects/Default\ (Mobile\ Sales\ scenario)/ @Resconet/salesforce
/projects/Default\ (Mobile\ Sales\ scenario)/www/JSBridge.js
/projects/Inspections\ (requires\ Resco\ custom\ objects)/ @Resconet/salesforce
/projects/Field\ Service\ (requires\ Field\ Service\ Lightning\ objects)/ @Resconet/salesforce
/projects/Field\ Service\ (requires\ Field\ Service\ Lightning\ objects)/www/JSBridge.js
